<nav class="navbar navbar-expand-lg main-navbar sticky">
    <ul class="navbar-nav navbar-right ms-auto">
        <li>
            <button mat-button type="button" [matMenuTriggerFor]="menu" class="round-button">
                <span>
                    <i class="fa fa-user"></i>
                </span>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="confirmLogout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </mat-menu>
        </li>
        <li>
            <div class="user-details">
                <h1 class="username">Aish</h1>
                <span class="userrole">Admin</span>
            </div>
        </li>
        <li>
            <div className="text-end"><button class="btn btn-dark mb-3" (click)="toggleTheme()">{{theme === 'light' ?
                    '🌙 Dark' : '☀️ Light'}}</button></div>
        </li>
    </ul>
</nav>