<nav class="navbar navbar-expand main-navbar sticky">
    <ul class="navbar-nav navbar-right ms-auto">
        <li>
            <button type="button" [matMenuTriggerFor]="menu" class="round-button mb-3 me-3">
                <span>
                    <i class="fa fa-user"></i>
                </span>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="confirmLogout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </mat-menu>
        </li>
        <li>
                <h1 class="fs-4 fw-bold mb-3 me-3">Aish</h1>
        </li>
        <li>
            <div className="text-end"><button class="btn btn-dark mb-3 me-3" (click)="toggleTheme()">{{theme === 'light' ?
                    '🌙 Dark' : '☀️ Light'}}</button></div>
        </li>
    </ul>
</nav>