<div *ngIf="data.img" class="text-center">
  <img style="height: 20rem;" [src]="data.img" alt="{{data.title}}" onerror="this.src='assets/default-image.jpg';" />
</div>

<h2 class="mt-3">{{ data.title }}</h2>
<p>{{ data.description }}</p>
<ul>
  <li><strong>🗂️ Category:</strong> {{ data.category }}</li>
  <li><strong>📺 Quality:</strong> {{ data.quality }}&nbsp;{{ data.format }}</li>
  <li><strong>🗣️ Language:</strong> {{ data.language }}</li>
  <li><strong>✅ Status:</strong> {{ data.status }}</li>
  <li><strong>📅 Released:</strong> {{ data.releasedDate }}</li>
  <li><strong>📤 Added Date:</strong> {{ data.addedDate }}</li>
  <li><strong>👤 Added By:</strong> {{ data.addedBy }}</li>
  <li><strong>📚 Seasons:</strong> {{ data.seasons }}</li>
  <li><strong>🎭 Episodes:</strong> {{ data.episodes }}</li>
  <li><strong>⭐ IMDB Rate:</strong> {{ data.imdb }}</li>
  <li><strong>🍅 Rotten Tomatoes:</strong> {{ data.rott }}</li>
</ul>


<div *ngIf="data.trailer">
  <iframe width="560" height="315" [src]="sanitizeUrl(data.trailer)" frameborder="0" allowfullscreen></iframe>
</div>