<div *ngIf="data.img" class="text-center">
  <img style="height: 20rem;" [src]="data.img" alt="{{data.title}}" onerror="this.src='assets/default-image.jpg';" />
</div>

<h2 class="mt-3">{{ data.title }}</h2>
<p>{{ data.description }}</p>
<ul class="info-list">
  <li><strong>🗂️ Category:</strong> {{ data.category }}</li>
  <li><strong>🔖 Tags:</strong> {{ data.tags }}</li>
  <li><strong>📺 Quality:</strong> {{ data.quality }}&nbsp;{{ data.format }}</li>
  <li><strong>🗣️ Language:</strong> {{ data.language }}</li>
  <li><strong>✅ Status:</strong> {{ data.status }}</li>
  <li><strong>📅 Released:</strong> {{ data.releasedDate }}</li>
  <li><strong>📤 Added Date:</strong> {{ data.addedDate }}</li>
  <li><strong>👤 Added By:</strong> {{ data.addedBy }}</li>
  <li><strong>📚 Seasons:</strong> {{ data.seasons }}</li>
  <li><strong>🎭 Episodes:</strong> {{ data.episodes }}</li>
  <li><strong>⭐ IMDB Rate:</strong> {{ data.imdb }}/10</li>
  <li><strong>🍅 Rotten Tomatoes:</strong> {{ data.ro }}%</li>
</ul>


<div *ngIf="data.trailer">
  <iframe width="560" height="315" [src]="sanitizeUrl(data.trailer)" frameborder="0" allowfullscreen></iframe>
</div>

<div class="carousel-wrapper">
  <button class="scroll-btn" id="right" style="right: -2em;"><i class="fa fa-arrow-right"></i></button>
  <div class="carousel">
    <img class="Imagecard"  *ngFor="let img of imageArray" [src]="img" />  
  </div>
  <button class="scroll-btn" id="left" style="left: -2em;"><i class="fa fa-arrow-left"></i></button>
</div>