<div class="card mx-auto rounded shadow" style="max-width:700px;">
    <div class="card-header text-center">
        <h4>Contact Us</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="contactUsForm" onsubmit="">
            <div class="row">

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for='fname' class='form-label'><b>First Name*</b></label>
                    <input type='text' id='fname' name='fname' class='form-control' maxlength="50" required
                        placeholder='Enter First Name' value />
                </div>

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for='lname' class='form-label'><b>Last Name*</b></label>
                    <input type='text' id='lname' name='lname' class='form-control' maxlength="50" required
                        placeholder='Enter Last Name' value />
                </div>

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for='email' class='form-label'><b>Email*</b></label>
                    <input type='email' id='email' name='email' class='form-control' maxlength="50" required
                        placeholder='Enter Your Email' value />
                </div>

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for='contact' class='form-label'><b>Contact Number</b></label>
                    <input type='tel' id='contact' name='contact' pattern="[0-9]{10}" class='form-control'
                        maxlength="10" placeholder='Enter Your Contact Number' value />
                </div>

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for="content" class="form-label"><b>Content*</b></label>
                    <textarea id="content" name="content" class="form-control" required value style="resize:none;"
                        rows="5" placeholder="Enter Content of The Message"></textarea>
                </div>

                <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                    <label for="file" class="form-label"><b>Uploads</b></label>
                    <input type="file" id="file" name="file" class="form-control" accept="image/*, .txt, .doc, .docx" />
                </div>

                <div class="text-center">
                    <button class="w-25 btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>