* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

app-header {
  height: clamp(50px, 7.5vh, 60px);/* Adjust the height of header */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;/* Make sure header is above the sidebar */
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

app-sidebar {
  width: clamp(80px, 15vw, 200px);  /* Sidebar width */
  position: fixed;
  top: clamp(50px, 7.5vh, 60px); /* Position the sidebar below the header */
  left: 0;
  bottom: 0;
  z-index: 1;  /* Sidebar will sit below the header */
  overflow-y: auto;
}

app-footer {
  height: clamp(30px, 5.5vh, 40px);  /* Adjust footer height */
  background: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

main {
  margin-left: clamp(80px, 15vw, 200px);/* Offset content to avoid overlap with the sidebar */
  margin-top: clamp(50px, 7.5vh, 60px); /* Offset content below the header */
  padding:clamp(12px, 2vw, 20px);      
  margin-bottom: clamp(30px, 5.5vh, 40px);
  min-height: calc(100vh - clamp(80px, 13vh, 100px));/* Ensure content area takes the remaining height */
  flex: 1;
  overflow-y: auto;
}