
.sidebar {
  width: 200px;
  position: fixed;
  top: 1;
  left: 0;
  height: 100%;
  background-color: #32475b;
  color: #fff;
  transition: width 0.3s ease;
  z-index: 1oo;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);

  .menu {
    padding: 15px 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      .myNavStyle {
       display: flex;
       position: relative;

        &.active {
          background-color: #3a4b59;
        }

        .menu-top {
          display: flex;
          align-items: center;
          padding: 10px;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          width:100%;

          &:hover {
            background-color: #3a4b59;
            cursor: pointer;
          }

          .sidebar-icon{
            margin-left: 1rem;
            min-width: 20px;
            text-align: center;
          }

          .sidebar-title{
            white-space: nowrap;
            transition: opacity 0.3s ease;
          }
        }
      }
    }
  }
}

.sidebar .active {
  background-color: #34495e;
  transition: background-color 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 80px;

    .sidebar-title{
      display: none;
    }

    .menu .myNavStyle {
      font-size: 12px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
.sidebar {
    width: 80px;

    .sidebar-title{
      display: none;
    }

    .menu .myNavStyle {
      font-size: 12px;
      justify-content: center;
    }
  }
}
