@use '@angular/material' as mat;

.minHeight {
    @include mat.all-component-densities(-3);
    @include mat.button-density(0);
}




.preview-img {
  max-width: 8rem;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
