@use '@angular/material' as mat;

.minisearchfield {
    @include mat.form-field-density(-3);
}




.hover-wrapper {
  position: relative;
}

.hover-popup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; gap: clamp(0.5rem, 2vw, 2rem);
  position: absolute;
  top: 100%;
  background-color: #000000;
  border: none;
  padding: clamp(0.25rem, 1vw, 0.5rem) clamp(0.5rem, 2vw, 1rem);
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  opacity: 70%;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}

.status-circle {
  display: inline-block;
  width: clamp(0.5rem, 1vw, 0.625rem);
  height: clamp(0.5rem, 1vw, 0.625rem);
  border-radius: 50%;
  margin-right: clamp(0.25rem, 0.8vw, 0.5rem);
}

.card:hover {
  transform: scale(1.05) translateY(-6px);
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #f0f0f0bf;
}