<div class="container">
    <h2 class="text-center mb-3 fw-bold">Tv Series Available</h2>
    <form [formGroup]="searchForm">
        <mat-form-field appearance="outline" class="minisearchfield mx-auto d-block mb-4 w-50">
            <mat-label>Search</mat-label>
            <input matInput type="search" minlength="2" maxlength="40" placeholder="What are you looking for?"
                formControlName="search" />
            <button matSuffix mat-icon-button class="me-3" type="submit" (click)="search()"><i
                    class="fa fa-search"></i></button>
            <mat-error *ngIf="searchForm.get('search')?.hasError('required')">Please enter keyword</mat-error>
            <mat-error *ngIf="searchForm.get('search')?.hasError('minlength')">Please enter at least 2
                letters</mat-error>
        </mat-form-field>
    </form>
    <div class="row g-5">
        <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let data of tvseries">
            <div style="cursor: pointer;" class="card h-100 shadow-lg" [routerLink]="['/view-detail',data.id]">
                <img [src]="data.img" loading="lazy" class="card-img-top" alt="{{data.title}}"
                    onerror="this.src='assets/default-image.jpg';">
                <div class="card-body">
                    <h4 class="card-title">{{data.title}}</h4>
                    <p class="card-text text-muted small mb-0">{{data.category}}</p>
                    <p class="card-text text-muted small mb-0">{{data.quality}}&nbsp;{{data.format}}</p>
                    <p class="card-text text-muted small mb-0">{{data.releasedDate}}</p>
                    <p class="fw-bold mb-0"><span class="status-circle" [ngClass]="{
                'bg-success': data.status === 'ongoing',
                'bg-danger': data.status === 'completed'
              }"></span>{{data.status}}</p>
                </div>
            </div>
        </div>
    </div>
</div>